$linkedinBlue1: #0077B5;
$linkedinBlue2: #135d85;
$linkedinBlue3: #113e57;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("./components/common/common.scss");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #212121;
  background-color: rgba(255,255,255,0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.common-input{
  height:30px;
  padding:10px;
  background-color: white;
  outline: none;
  border:1px solid #212121;
  color:#212121;
  border-radius:3px;
  font-family:system-ui;
  font-size:16px;
  margin:10px 0px;
}
.common-input:focus{
  outline:1px solid $linkedinBlue1;
}
::placeholder{
  font-family:system-ui;
  font-size:16px;
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

 */